*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}
.MyCard{
    width: 50%;
    min-height: 60vw;
    margin: 10% 0% 10% 25%;
    box-shadow: 0px 0px 20px 0px #e6e6fa;
    border-radius: 20px;
    padding: 30px
}
.Title{
    color: #7d7de1;
    font-size: 3.5vw;
}
.MyForm{
    width: 100%;
    margin-top: 4vw;
    text-align: center;
}
.MyInput{
    border: none;
    width: 80%;
    margin-right: 5%;
    padding: 1vw;
    font-size: 2vw;
    border-radius: 1vw;
    background-color: rgb(125 125 225 / 19%);
    color: #808080;
    /* transition: 0.5s; */
}
.MyInput:focus {
    border: none;
    outline: 1px solid #7d7de1;
    background-color: rgb(125 125 225);
    color: white;
    width: 85%;
    transition: 0.5s;
}
.MyInput::placeholder {
    text-align: center;
    color: #ffffff;
}
.AddBtn{
    border: none;
    width: 10%;
    padding: 1vw;
    background-color: #7d7de1;
    color: white;
    border-radius: 1vw;
    font-size: 2vw;
}
.AddBtn:active{
    background-color: #5b5bd8;
}
.ToDo{
    width: 100%;
    margin-top: 4vw;
    box-shadow: 0px 0px 5px 0px #e6e6fa;
    border-radius: 1vw;
    background-color: #7d7de1;
}

.JobTitle{
    width: 80%;
    padding: 8%;
    display: inline-block;
    color: white;
    font-size: 3vw;
}
.ToDo-DeActive{
    width: 100%;
    margin-top: 4vw;
    border-radius: 1vw;
    background-color: #2cb5b5;
}

.JobTitle-DeActive{
    width: 80%;
    padding: 8%;
    display: inline-block;
    color: #ffffff;
    font-size: 3vw;
}
.JobTitle:hover,.JobTitle-DeActive:hover{
    color: #cccccc;
}
.fa-trash{
    padding: 8%;
    display: inline-block;
    text-align: right;
    color: white;   
    font-size: 2vw;
}

.fa-trash:hover{
    color: #ed3636;
}
.NoJob{
    text-align: center;
    padding: 15vw 0;
    color: #80808056;
    font-size: 2vw;
}